<a href="https://builds.sr.ht/~mjorgensen/jrgnsn.net?"><img class="badge" alt="builds.sr.ht status" src="https://builds.sr.ht/~mjorgensen/jrgnsn.net.svg" width="124px" height="20px" /></a>

<a href="https://jrgnsn.net"><img class="badge" alt="Website" src="https://img.shields.io/website/https/jrgnsn.net.svg?down_color=red&down_message=offline&up_color=green&up_message=online" /></a>

<img class="badge" alt="Uptime Robot ratio (30 days)" src="https://img.shields.io/uptimerobot/ratio/m782564092-642ea692e6a3402c76f3a827.svg" />